table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    min-width: 100px;
    height: 25px;
    padding: 3px;
}

.current-cell {
	background-color: pink;
}

#sum-row {
	background-color: green;
}

tbody th {
	background-color: green;
}

tfoot {
	background-color: lime;
	text-align: left;
	font-weight: bold;
}
